/public_html
│
├── /
│   ├── login.php
│   ├── registro.php
│   ├── relatorio.php
│   ├── painel.php
│   ├── valicao_atendimento.php
│   ├── validados.php
│   ├── processa_cadastro.php
│   ├── validacao_gerente.php
│   └── processa_login.php
│
├── /
│   ├── audio/chamada.wav
│   ├── css/bootstrap.css
│   ├── css/style.css
│   ├── js/main.js
│   ├── js/script.js
│   ├── lib/jquery-3.3.1.min.js
│   └── img/att.jpg
│
├── .htaccess
└── README.txt
